<div class="test-page-wrapper container">
	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-default">
    			<div class="panel-heading">
    				<h3 class="panel-title">Root</h3>
    			</div>
    			<div class="panel-body">
    				<table class="table table-hover">
    					<thead>
    						<tr>
    							<th>File</th>
    						</tr>
    					</thead>
    					<tbody>
    						<tr *ngFor="let item of neutrino.getRoot()">
    							<td>{{ item }}</td>
    						</tr>
    					</tbody>
    				</table>
    			</div>
    		</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-default">
    			<div class="panel-heading">
    				<h3 class="panel-title">ASAR</h3>
    			</div>
    			<div class="panel-body">
    				<table class="table table-hover">
    					<thead>
    						<tr>
    							<th>File</th>
    						</tr>
    					</thead>
    					<tbody>
    						<tr *ngFor="let item of neutrino.readASAR()">
    							<td>{{ item }}</td>
    						</tr>
    					</tbody>
    				</table>
    			</div>
    		</div>
		</div>
	</div>
</div>
