@import '../../styles/shared-style';

.sidebar-wrapper {
	position: absolute;
	top: 0;
	width: 100%;
	height: calc(100% - 1em);
	background-color: lighten($color-dark, 2.5%);

	* {
		position: relative;
		margin: 0;
		padding: 0;
		line-height: normal;
		display: block;

		font-family: sans-serif;
	}

	li,
	ul {
		list-style: none;
		list-style-type: none;
	}

	ul {
		top: 1em;
		width: 100%;

		li {
			.arrow {
				display: none;
				position: absolute;
				left: 0;
				top: 0;
				width: 5px;
				height: 100%;
				background-color: $color-primary;
			}

			a {
				transition: none;
				padding: 5px 5px 5px 20px;
				color: $color-light;
				text-decoration: none;
				font-weight: lighter;

				span {}

				&:hover {
					text-decoration: none;
					color: $color-primary;
				}
			}

			&:hover {
				background-color: lighten($color-dark, 10%);
			}

			&.selected,
			&:hover {
				.arrow {
					display: block;
				}
			}
		}
	}
}
